.info {
  border-radius: 5%;
  margin: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 450px;
  width: 300px;
  align-items: center;
  justify-content: space-around;
}
.when {
  color: white;
}
